/* You can add global styles to this file, and also import other style files */

.content {
  display: flex;
  padding: 10vh 10vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

pre {
  text-align: left;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
  padding-left: 10px !important;
  min-width: 100px !important;
  padding-right: 0 !important;
  text-align: center !important;
  vertical-align: middle !important;
}
